@page
@model Movies.WebUI.Pages.MovieFiltr.IndexModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/Movies.css">

<div class="container">
    <div class="Filtir">
        <div class="dropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                genres
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Animation</a></li>
                <li><a class="dropdown-item" href="#">Documented</a></li>
                <li><a class="dropdown-item" href="#">Confidentiality</a></li>
                <li><a class="dropdown-item" href="#">Rolls</a></li>
                <li><a class="dropdown-item" href="#">Dram</a></li>
                <li><a class="dropdown-item" href="#">Battle</a></li>
                <li><a class="dropdown-item" href="#">Comedy</a></li>
                <li><a class="dropdown-item" href="#">melodrama</a></li>
                <li><a class="dropdown-item" href="#">Fantastic</a></li>
                <li><a class="dropdown-item" href="#">Music</a></li>
                <li><a class="dropdown-item" href="#">Family</a></li>
                <li><a class="dropdown-item" href="#">Adventure</a></li>
                <li><a class="dropdown-item" href="#">Military</a></li>
                <li><a class="dropdown-item" href="#">Sport</a></li>
                <li><a class="dropdown-item" href="#">History</a></li>
                <li><a class="dropdown-item" href="#">A crime</a></li>
                <li><a class="dropdown-item" href="#">Horror </a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                Categories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Azerbaijani movie</a></li>
                <li><a class="dropdown-item" href="#">Foreign movie</a></li>
                <li><a class="dropdown-item" href="#">Rus movie</a></li>
                <li><a class="dropdown-item" href="#">Türk movie</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                Dubbing
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Azerbaijan</a></li>
                <li><a class="dropdown-item" href="#">Russia</a></li>
                <li><a class="dropdown-item" href="#">Turkey</a></li>
                <li><a class="dropdown-item" href="#">Other</a></li>
            </ul>
        </div>
    </div> transition: all 2s ease-in !important;
    <div class="card-container ">
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/724132.jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/ashlee-marie-uCHCdZ1fYiQ-unsplash (1).jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/erik-mclean-7sgU1jV8-iw-unsplash.jpg" alt="#">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/nate-johnston-4CRTpLLsuJ8-unsplash.jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/ouael-ben-salah-1bK4CXuXIGE-unsplash.jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/pramod-tiwari-wjivthmSbo8-unsplash.jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/wolfgang-hasselmann-goxLeuy5ZJ0-unsplash.jpg" alt="#">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-5">
            <div class="poster">
                <img src="~/Img/pramod-tiwari-wjivthmSbo8-unsplash.jpg" alt="">
            </div>
            <div class="details">
                <a href=""><i class="bi bi-play-circle"></i></a>
                <h2>Movie</h2>
                <h3>Directed</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span>2023</span>
                    <span>Action</span>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus fuga debitis cum
                    vitae?
                    Laudantium
                    aut amet eius alias, commodi sunt vero.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Movies.js"></script>