@model ProfileViewModel
@{
    ViewData["Title"] = "ProfileSettings";
}

@section addcss{
    <link rel="stylesheet" href="~/css/AccauntSettings.css">
    <script src="~/js/AccauntSettings.js"></script>
    <style>
        .form-group {
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        #buttonSaveCancel {
            display: inline-block !important;
        }

        .main-content {
            margin-top: 100px;
            margin-bottom: 150px;
        }
    </style>
}



<div class="container-fluid">
    <div class="main-content">
        <!-- Start Account Settings Section -->
        <section class="account-settings">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-settings">
                            <ul class="nav nav-pills mb-3">
                                <li class="nav-item profile-settings">
                                    <a class="nav-link profile-settings" href="#">Profile Settings</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane animated  show active">
                                    <!-- Start Form -->
                                    <form id="profile-settings-form" method="post" enctype="multipart/form-data" asp-action="ProfileSettings">
                                        <div class="error-container"></div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="settings-avatar">
                                                        <a href="">
                                                            <img src="~/Img/user.jpg"
                                                                 class="img-fluid d-block mx-auto mb-3"
                                                                 alt="User avatar">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                            <div class="col-md-10">
                                                <h2>John Doe</h2>
                                            </div>
                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">General Information</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="UserName" >Username</label>
                                                    <input asp-for="UserName" class="form-control my-3" name="username" type="text"
                                                           placeholder="Enter your Username" id="username">
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="Email">Email Address</label>
                                                    <input asp-for="Email" type="email" class="form-control my-3" name="email"
                                                           placeholder="Enter your email" id="emailAddress">
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="Name">First Name</label>
                                                    <input asp-for="Name" class="form-control my-3" name="Surname" type="text"
                                                           placeholder="Enter your Name" id="Name">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="Surname">Surname</label>
                                                    <input asp-for="Surname" class="form-control my-3" name="Surname" type="text"
                                                           placeholder="Enter your Surname" id="lastName">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">Change Password</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label  asp-for="Password">Current Password</label>
                                                    <input asp-for="Password" type="password" class="form-control my-3"
                                                           name="Password"
                                                           placeholder="Enter your Current Password"
                                                           id="currentPassword">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="NewPassword">New Password</label>
                                                    <input asp-for="NewPassword" type="password" class="form-control my-3" name="Password"
                                                           placeholder="Enter your New Password" id="newPassword">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">Personal Information</h5>
                                        <div id="sandbox-container" class="form-group AccauntSettings">
                                            <label asp-for="DateOfBirth">Date of Birth</label>
                                            <input asp-for="DateOfBirth" type="text" class="form-control my-3" name="DateOfBirth"
                                                   placeholder="Enter your Date of Birth" id="dateofbirth">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="Gender">
                                                        Gender</label>
                                                        
                                                        <select asp-for="Gender" class="form-control my-3" name="Gender"
                                                            aria-label="Default select example" id="select-gender">
                                                        <option value="1" selected="selected">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label asp-for="Country">Country</label>
                                                    <input asp-for="Country" class="form-control my-3" name="Country"
                                                            aria-label="Default select example" id="select-language">
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                        </div>

                                        <!-- Row End -->
                                        <div class="form-group  mt-3" id="buttonSaveCancel">
                                            <a href="#" class="hvr-sweep-to-right btn px-3">Save</a>
                                            <a href="#" class="hvr-sweep-to-right btn ms-3">Cancel</a>
                                        </div>
                                    </form>
                                    <!-- Form End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
