
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/PricingPlans.css">

<div class="top-banner">
    <p class="current-plan">Your current Plan</p>
    <p class="plan-type">Starter Trial</p>
</div>
<div class="container">
    <div class="header-title">
        <h1 class="title">Choose a plan</h1>
        <div class="toggle-switch">
            <span>Billed anually</span>
            <input type="checkbox" class="toggler">
            <span>Bild monthly</span>
        </div>
    </div>

    <div class="cards">
        <!--Starter Plan-->
        <div class="card" id="card-1">
            <h1 class="card-title">Starter</h1>
            <h2 class="card-price" id="starter-price">$19 <span>/ month</span></h2>
            <ul class="card-plan">
                <li>500MAUs</li>
                <li>3 Projects</li>
                <li>Unlimited guides</li>
                <li>Unlimited flows</li>
                <li>Unlimited branded thems</li>
                <li>Email Support</li>
            </ul>
            <button type="button" class="card-btn">Choose Plan</button>
        </div>
        <!--Pro Plan-->
        <div class="card active" id="card-2">
            <h1 class="card-title">Pro</h1>
            <h2 class="card-price" id="pro-price">$99 <span>/ month</span></h2>
            <select id="maus">
                <option value="500">500MAUS</option>
                <option value="1000">1000MAUS</option>
                <option value="1500">1500MAUS</option>
                <option value="2000">2000MAUS</option>
                <option value="2500">2500MAUS</option>
            </select>
            <span class="note">Monthely active users</span>
            <ul class="card-plan">
                <li>500MAUs</li>
                <li>3 Projects</li>
                <li>Unlimited guides</li>
                <li>Unlimited flows</li>
            </ul>
            <button type="button" class="card-btn">Choose Plan</button>
        </div>
        <!--Enterprise Plan-->
        <div class="card" id="card-3">
            <h1 class="card-title">Enterprise</h1>
            <h2 class="card-price">Let's Talk!</h2>
            <ul class="card-plan">
                <li>All Pro featrued</li>
                <li>3 Projects</li>
                <li>Unlimited guides</li>
                <li>Unlimited flows</li>
                <li>Unlimited branded thems</li>
                <li>Email Support</li>
            </ul>
            <button type="button" class="card-btn">Contact Us </button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/PricingPlans.js"></script>

