* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F0D463;
    border-radius: 10px;
}

body {
    background-color: #202020;
}

.header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header h1 {
    font-size: 60px;
    font-weight: bolder;
    color: red;
}

form {
    width: 500px;
    margin: 170px auto;
}

.form-control {
    border-color: white;
    background-color: #1D1C1C;
    padding: 8px;
    border-radius: 0;
    color: grey;
}

.form-control:focus {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.36);
    border-color: red;
}

.container form button {
    padding: 8px 40px;
    background-color: red;
    border-radius: 0;
    color: white;
}
.container form button:hover {
    background-color: red;
    color: white;
}