* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F0D463;
    border-radius: 10px;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #272829;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    top: 0;
    left: 0;
    z-index: 9999;
}
.logoicons img {
    width: 120px;
    height: 30px;
}
body {
    background-color: #202020;
}

main {
    margin-bottom: 12rem;
}

footer {
    background: #272829;
    width: 100%;
    height: 260px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    transition: 1s, visibility 1s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 95px;
    height: 95px;
    border: 15px solid #dddd;
    border-top-color: red;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.dropbtn {
    font-size: 16px;
    cursor: pointer;
    color: red;
    transform: scale(2);
    background: white;
    border-radius: 100%;
    border-color: red;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    background: rgba(255, 255, 255, 0.257);
    min-width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(175, 175, 175);
    padding: 6px 4px 4px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    backdrop-filter: blur(1px);
}

.dropdown a:hover {
    background: red;
    color: white;
    transition: 0.5s;
}

.search-box {
    position: relative;
    top: 0;
    background: white;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;

}

.bi-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: black;
    transition: 0.5s;
    width: 300px;
    
}

.show {
    display: block;
}

.Accaunt {
    display: none;

}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bolder;
}

.dropdown-menu {
    background-color: #272829;
}

.nav-bar ul li a:hover {
    color: red;
    background: white;
}

.nav-bar ul li a .active {
    color: #1b1010;
    background: white;
}

.nav-item a.active {
    color: white;
}

#moviesCarusel {
    width: 100%;
    height: 80vh;

}

.movie-category {
    top: 0;
    margin-top: 9rem;
}

/*  */

.DisplayType h4,
.Production h4,
.DisplayQuality h4 {
    color: #F0D463;
    font-weight: bolder;
    font-size: 20px;
}

.DisplayType a,
.Production a,
.DisplayQuality a {
    text-decoration: none;
    color: white;
}

.DisplayType li,
.Production li,
.DisplayQuality li {
    margin-bottom: 6px;
}

.DisplayType a:hover,
.Production a:hover,
.DisplayQuality a:hover {
    color: #F0D463;
}

.Production {
    transform: translate(9rem, 0);
}

.DisplayQuality {
    transform: translate(16rem, 0);
}

.Icon {
    transform: translate(24rem, 0);
    display: inline-flex;
}

.Icon li {
    display: inline-block;
    font-size: 30px;
    margin-top: 4rem;
    margin-right: 2rem;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
}

.bi-twitter,
.bi-facebook,
.bi-linkedin,
.bi-instagram {
    color: #F0D463;
}

.bi-twitter:hover,
.bi-facebook:hover,
.bi-linkedin:hover,
.bi-instagram:hover {
    color: #F0D463;
}

.logoIcon {
    position: relative;
}

.logoIcon {
    position: absolute;
    transform: scale(0.2);
    margin-top: 3rem;
    right: -13rem;

}

/* Modal Sign In */

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a8;
}

.modal-content {
    background-color: #202020;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 600px;
}

.modal-title {
    text-align: center;
    color: #F0D463;
    font-weight: bolder;
}

.close-button {
    color: #F0D463;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    text-decoration: none;
    cursor: pointer;
}

.formModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelModal {
    color: white;
    margin: 1rem 0;
    margin-left: -13rem;
}

.remember-me {
    color: white;
}

.formModal input[type="text"],
.formModal input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formModal input[type="text"]:hover,
.formModal input[type="password"]:hover {
    background-color: #f2f2f2;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group .forgot-password {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.form-group .forgot-password:hover {
    color: red;
    background-color: #272829;
}

.btn-signin {
    width: 80%;
    background-color: red;
    transition: background-color 1s;
    font-weight: bolder;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btn-signin:hover {
    background-color: #F0D463;
    color: black;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
}



.modal-content p {
    color: white;
    margin-left: 3rem;
    margin-top: 2rem;
}

p .sign-up {
    color: red;
    text-decoration: none;
}

p .sign-up:hover {
    color: red;
    background-color: #202020;
}

/* Modal Sign Up */

.modal-overlay-sigup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000a8;
}

.modal-content-sigup {
    background-color: #202020;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 670px;
}

.modal-title-sigup {
    text-align: center;
    color: #F0D463;
    font-weight: bolder;
}

.close-button-sigup {
    color: #F0D463;
    font-size: 28px;
    font-weight: bold;
}

.close-button-sigup:hover,
.close-button-sigup:focus {
    text-decoration: none;
    cursor: pointer;
}

.formModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelModal-signup {
    color: white;
    margin: 5px;
    margin-left: -13rem;
}

.changePassword-signup {
    color: white;
    margin: 5px;
    margin-left: -9rem;
}

.remember-me {
    color: white;
}

.formModal input[type="text"],
.formModal input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formModal input[type="text"]:hover,
.formModal input[type="password"]:hover {
    background-color: #f2f2f2;
}

.form-group {
    display: flex;
    align-items: center;
}

.btn-signup {
    width: 80%;
    background-color: red;
    transition: background-color 1s;
    font-weight: bolder;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: #F0D463;
    color: black;
}

.modal-content-sigup p {
    color: white;
    margin-left: 3rem;
    margin-top: 2rem;
}

/* footer hissesinin responsivliyi */
@media only screen and (max-width: 768px) {
    #footer {
        flex-wrap: wrap;
    }

    .DisplayType,
    .Production,
    .DisplayQuality,
    .Icon {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .Production,
    .DisplayQuality,
    .Icon {
        transform: none;
    }
}


/* for screens smaller than 576px */
/* @media only screen and (max-width: 576px) {
    #footer{
        flex-wrap: wrap;
    }
    .DisplayType, .Production, .DisplayQuality, .Icon{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .Production, .DisplayQuality, .Icon{
        transform: none;
    }
} */

/* for screens between 576px and 992px */
/* @media only screen and (min-width: 576px) and (max-width: 992px) {
    #footer{
        flex-wrap: nowrap;
    }
    .DisplayType, .Production, .DisplayQuality, .Icon{
        width: 50%;
        text-align: center;
        margin-bottom: 0;
    }
    .Production, .DisplayQuality, .Icon{
        transform: none;
    }
} */

/* for screens between 992px and 1200px */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) {
    #footer{
        flex-wrap: nowrap;
    }
    .DisplayType, .Production, .DisplayQuality, .Icon{
        width: 25%;
        text-align: center;
        margin-bottom: 0;
    }
    .Production, .DisplayQuality, .Icon{
        transform: none;
    }
} */

/* for screens larger than 1200px */
/* @media only screen and (min-width: 1200px) {
    #footer{
        flex-wrap: nowrap;
    }
    .DisplayType, .Production, .DisplayQuality, .Icon{
        width: 20%;
        text-align: center;
        margin-bottom: 0;
    }
    .Production, .DisplayQuality, .Icon{
        transform: translate(24rem,0);
        display: inline-flex;
    }
} */
/* footer hissesinin responsivliyi sonlugu */

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {

    main {
        margin-top: 5%;
    }

    .Accaunt {
        display: block;
        cursor: pointer;
    }

    .Accaunt .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 60.1px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #272829;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .dropdown-menu {
        top: 45px;
        background-color: rgb(197, 95, 95);
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;

    }
}


@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        height: auto;
    }

    .modal-content-sigup {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {

    .modal-title {
        font-size: 20px;
    }

    .modal-title-sigup {
        font-size: 20px;
    }

    form label {
        font-size: 16px;
    }

    .form-group {
        flex-wrap: wrap;
        align-items: flex-start;
    }

        .form-group a {
            margin-left: 0;
            margin-top: 10px;
        }

    .logoicons img {
        width: 0px;
    }

    .headerIcon {
        margin-left: -430px;
    }

    .search-box {
        margin-left: -390px;
        width: 180px;
    }

    .logoicons img {
        width: 0px;
        height: 0px;
    }

    .Accaunt {
        transform: translateX(-27rem);
    }
}