@model TrandCategoryDto
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <!--Card 1-->
        <div class="col-md-6 mx-auto d-block">
            <div class="card">
                <div class="card-header border-4 text-center">
                    <h1 class="display-4">Delete </h1>
                </div>

                <div class=" list-box">
                    <div class="my-3"> Id: <span>@Html.DisplayFor(model => model.Id)</span></div>
                    <div class="my-3"> Model: <span>@Html.DisplayFor(model => model.Name)</span></div>
                </div>

                <form class="card-footer p-0 text-center " asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input class="btn btn-danger ms-3 my-4 float-start btn-lg" type="submit" value="Delete" />
                    <a class="btn btn-warning my-4  me-3 float-end btn-lg" asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>