@{
    ViewData["Title"] = "Index";
}

@section addcss{
    <link rel="stylesheet" href="~/css/AccauntSettings.css">
    <script src="~/js/AccauntSettings.js"></script>
    <style>
        .form-group {
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        #buttonSaveCancel{
            display:inline-block !important;
        }

        .main-content{
            margin-top: 100px;
            margin-bottom: 150px;
        }
    </style>
}



<div class="container-fluid">
    <div class="main-content">
        <!-- Start Account Settings Section -->
        <section class="account-settings">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content-settings">
                            <ul class="nav nav-pills mb-3">
                                <li class="nav-item profile-settings">
                                    <a class="nav-link profile-settings" href="#">Profile Settings</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane animated  show active">
                                    <!-- Start Form -->
                                    <form id="profile-settings-form" action="#">
                                        <div class="error-container"></div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="settings-avatar">
                                                        <a href="">
                                                            <img src="~/Img/user.jpg"
                                                                 class="img-fluid d-block mx-auto mb-3"
                                                                 alt="User avatar">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                            <div class="col-md-10">
                                                <h2>John Doe</h2>
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the 1500s.
                                                </p>
                                            </div>
                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">General Information</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label for="username">Username</label>
                                                    <input class="form-control my-3" name="username" type="text"
                                                           placeholder="Enter your Username" id="username">
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>Email Address</label>
                                                    <input type="email" class="form-control my-3" name="email"
                                                           placeholder="Enter your email" id="emailAddress">
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>First Name</label>
                                                    <input class="form-control my-3" name="first-name" type="text"
                                                           placeholder="Enter your Name" id="Name">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>Surname</label>
                                                    <input class="form-control my-3" name="last-name" type="text"
                                                           placeholder="Enter your Surname" id="lastName">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">Change Password</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>Current Password</label>
                                                    <input type="password" class="form-control my-3"
                                                           name="current-password"
                                                           placeholder="Enter your Current Password"
                                                           id="currentPassword">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>New Password</label>
                                                    <input type="password" class="form-control my-3" name="new-password"
                                                           placeholder="Enter your New Password" id="newPassword">
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                        </div>
                                        <!-- Row End -->
                                        <h5 class="mb-3 mt-3 pb-3 section-border">Personal Information</h5>
                                        <div id="sandbox-container" class="form-group AccauntSettings">
                                            <label>Date of Birth</label>
                                            <input type="text" class="form-control my-3" name="date-of-birth"
                                                   placeholder="Enter your Date of Birth" id="dateofbirth">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>Gender</label>
                                                    <select class="form-control my-3" name="select-plan"
                                                            aria-label="Default select example" id="select-gender">
                                                        <option value="1" selected="selected">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Col End -->
                                            <div class="col-md-6">
                                                <div class="form-group AccauntSettings">
                                                    <label>Country</label>
                                                    <select class="form-control my-3" name="select-plan"
                                                            aria-label="Default select example" id="select-language">
                                                        <option value="1">Arabic</option>
                                                        <option value="2" selected="selected">English</option>
                                                        <option value="3">German</option>
                                                        <option value="4">Spanish</option>
                                                        <option value="5">French</option>
                                                        <option value="6">Italian</option>
                                                        <option value="7">Russian</option>
                                                        <option value="8">Japanese</option>
                                                        <option value="9">Chinese</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- Col End -->
                                        </div>

                                        <!-- Row End -->
                                        <div class="form-group  mt-3" id="buttonSaveCancel">
                                            <a href="#" class="hvr-sweep-to-right btn px-3">Save</a>
                                            <a href="#" class="hvr-sweep-to-right btn ms-3">Cancel</a>
                                        </div>
                                    </form>
                                    <!-- Form End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


