
<footer>
    <div class="container footer">
        <div class="DisplayType mt-5">
            <h4>DISPLAY TYPE</h4>
            <ul class=" mt-4">
                <li><a href="#">Action</a></li>
                <li><a href="#">Comedy</a></li>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Horror</a></li>
            </ul>
        </div>
        <div class="Production mt-5">
            <h4>PRODUCTION</h4>
            <ul class=" mt-4">
                <li><a href="#">2020 Year</a></li>
                <li><a href="#">2021 Year</a></li>
                <li><a href="#">2022 Year</a></li>
                <li><a href="#">2023 Year</a></li>
            </ul>
        </div>
        <div class="DisplayQuality mt-5">
            <h4>DISPLAY QUALITY</h4>
            <ul class=" mt-4">
                <li><a href="#">2720p HDTV</a></li>
                <li><a href="#">1080p BluRay</a></li>
                <li><a href="#">720p BluRay</a></li>
                <li><a href="#">1080p WEB-DL</a></li>
            </ul>
        </div>
        <div class="Icon">
            <ul class="fs-4">
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>
        <div class="logoIcon">
            <img src="~/Img/moviec-low-resolution-logo-color-on-transparent-background (2).png" alt="logo">
        </div>
    </div>
</footer>
