
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/about.css">

<section id="about">
    <div class="about-content">
        <img src="~/Img/IMG-20220912-WA0003.jpg" alt="">
        <div class="about-text">
            <h1>About <span>Me</span></h1>
            <h5>Web Desinger <span>&</span>Developer</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero amet aspernatur, esse enim sapiente
                impedit natus cum ipsa similique dolor molestiae molestias id nobis eos, voluptatum expedita
                laboriosam aut recusandae voluptates, accusamus ab! In libero totam itaque? Nam consequuntur
                laboriosam minima exercitationem autem saepe, cumque dolor iure illum officia earum eos voluptatum
                quaerat eligendi ut sequi laudantium maxime expedita error rerum hic odit incidunt qui ducimus?
                Iure, fuga, eligendi, repellat magnam repellendus nam molestias dolore maxime soluta doloribus dicta
                odit aliquid optio aspernatur. Aliquam reprehenderit nam voluptates repellat, quasi dolorem eum
                earum ipsa deserunt veniam iure. Autem est quo sint?
            </p>
            <button class="button_detailed">Detailed</button>
        </div>
    </div>
</section>
